{% extends 'base.html.twig' %}

{% block title %}New Device{% endblock %}

{% block body %}
<div class="container pt-3 bg-white">
    <h1>Create new Device</h1>

    {{ form_start(form) }}

    <div class="mb-3 row">
        <div class="col-10">
            {{ form_widget(form.client) }}
        </div>
        <div class="col-2">
            <a class="btn btn-sm btn-success" id="addClient"><i class="fas fa-plus"></i> Ajouter un nouveau client</a>
        </div>
    </div>
    <div id="client_form">
        {{ form_widget(form2) }}
        <button id="cancelNewClient" class="btn btn-sm btn-danger" style="display: none;"><i class="fas fa-ban"></i> Annuler la création du nouveau client</button>
    </div>


    <button class="btn btn-primary">{{ button_label|default('Suivant') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('device_index') }}">back to list</a>
</div>
{% endblock %}

{% block javascripts %}
{{  parent() }}
<script>
    let collection;
    let addButton;
    let span;
    let newOption;

    window.addEventListener('load', function(){
        //TODO => Update with TS-SELECT2 to avoid JQUERY
        $("#device_client").select2();
        $("#device_client").change( function(){
            var option = $("#device_client").find(':selected')[0];
            if(option.value > 0)
            {
                var client = option.label.split(" / ");
                $("#client_name").val(client[0]).prop("disabled", true);
                $("#client_contact").val(client[1]).prop("disabled", true);
                $("#client_phone").val(client[3]).prop("disabled", true);
                $("#client_email").val(client[2]).prop("disabled", true);
            }
            else
            {
                $("#client_name").val("").prop("disabled", false);
                $("#client_contact").val("").prop("disabled", false);
                $("#client_phone").val("").prop("disabled", false);
                $("#client_email").val("").prop("disabled", false);
            }
        });

        $('#addClient').click( function(e) {
            e.preventDefault();
            $("#device_client option[value='-1']").each(function() { $(this).remove(); });
            newOption = new Option("Nouveau client", '-1', false, true);
            $("#device_client").append(newOption).prop("disabled", true).trigger('change');
            $("#cancelNewClient").show();
        });

        $("#cancelNewClient").click( function(e){
            e.preventDefault();
            $("#device_client option[value='-1']").each(function() { $(this).remove(); });
            $("#device_client").prop("disabled", false).trigger('change');
            $("#cancelNewClient").hide();
        })
    });
</script>

{% endblock %}