{% extends 'base.html.twig' %}

{% block title %}Call{% endblock %}

{% block body %}
    <h1>Call</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ call.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ call.date ? call.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Feedback</th>
                <td>{{ call.feedback }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ call.action }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('call_index') }}">back to list</a>

    <a href="{{ path('call_edit', {'id': call.id}) }}">edit</a>

    {{ include('call/_delete_form.html.twig') }}
{% endblock %}
