{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container pt-3 bg-white">
    <a class="btn btn-success float-end" href="{{ path('user_index') }}"><i class="fas fa-arrow-left"></i>Revenir à la liste</a>
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(' / ') }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i> Modifier l'utilisateur</a>

    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
